@font-face {
    font-family: 'Fira Code';
    src: url(FiraCode-Regular.ttf);
}

body {
    font-family: 'Fira Code';
    background-color: rgb(225, 225, 219);
}

.input-area {
    background-color: white;
    padding-left: 1em;
    border: solid 4px rgb(187, 187, 187);
    height: 50vh;
    width: 100%;
    white-space: pre;
    overflow: scroll;
    resize: vertical;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5em;
}

.input-container {
    flex: 5;
    display: flex;
}

.input-area-container {
    flex: 4;
    max-width: 40%;
    max-height: 50%;
}

.buttons-container {
    flex: 2;
    text-align: center;
}

.error-container {
    flex: 1;
    text-align: center;
}

#error-msg {
    color: red;
}

.options {
    display: inline;
}

.input-options-container {
    margin-top: 2em;
}

#direct-link {
    margin: 1em;
}
